.menu {
  @include flex(center, center);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 9999;

  &__close {
    @include flex(center, center);
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 3.1rem;
    width: 3.1rem;
    border-radius: 50%;
    border: 0.1px solid var(--color-tertiary);
    color: var(--color-tertiary);
  }

  &__lists {
    @include flexCol;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height: 75%;
    width: 92%;
    border-radius: 6px;
    background-color: rgba(30, 40, 34, 0.2);
    border: 0.1px solid rgba(238, 238, 238, 0.3);
  }

  &__list {
    position: relative;
    height: 6rem;
    width: 50%;
    margin-bottom: 2rem;
    @include flex(center, center);
    color: rgba(238, 238, 238, 0.8);
  }

  &__line {
    display: block;
    position: absolute;
    bottom: 0;
    height: 0.1px;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.4);
  }

  &__icon-box {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__icon {
    height: 100%;
    width: 100%;
  }
}
